<ul class="talents list-group m-5" *ngIf="(selectedDomains.length > 0) || (selectedFilters.length > 0)">
  <li *ngFor="let talent of talents"
    [class.selected]="talent === selectedTalent"
    (click)="onSelect(talent)"
    class="list-group-item d-flex justify-content-between align-items-center"
    tabindex="0"
    >
    {{talent.name}} <small [className]="'badge badge-pill badge-'+ talent.className" >{{talent.domain}}</small>
    <app-talent [talent]="selectedTalent" *ngIf="selectedTalent && (talent === selectedTalent)"></app-talent>
  </li>
</ul>
