<mat-accordion class="m-5 d-block">
  <mat-expansion-panel *ngFor="let talent of talents">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{talent.name}}       
      </mat-panel-title>
    </mat-expansion-panel-header>
    <small [className]="'d-inline-block mb-3 badge   '+ talent.className" >{{talent.domain}}</small>
    <ul class="list-unstyled mb-5">
      <li class="mb-4" *ngFor="let feature of talent.talentFeatures">
        <mat-checkbox color="primary" [(ngModel)]="feature.included" [checked]="feature.included" (change)="onUpdateIncluded(talent)">
          <strong class="d-block">{{feature.name}}</strong>
        </mat-checkbox>
        <p class="ml-5">{{feature.description}}</p>
      </li>
    </ul>
  </mat-expansion-panel>  
</mat-accordion>